.submitfile {
  margin: 0 5px;
  padding: 5px;
  display: block;

  @media(min-width: 300px) {
    display: flex;
    flex-direction: column;
  }

  @media(min-width: 768px) {
    margin: 0 20px;
    padding: 20px;
  }

  @media(min-width: 1024px) {
    display: flex;
    flex-direction: row;
  }

  &__header {
    display: block;
    width: 100%;

    @media(min-width: 300px) {
      display: flex;
      flex-direction: column;
    }
    @media(min-width: 1024px) {
      display: flex;
      width: 60%;
      transform: translateY(-70px);
    }

    &--title {
      display: none;
      color: #585756;
      font-size: 20px;
      background-color: white;
      opacity: 0.6;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;

      @media(min-width: 1024px) {
        display: flex;
      }
    }
    &--upload-file {
      margin-top: 10px;
      display: block;
      width: 100%;

      @media(min-width: 300px) {
        display: flex;
        flex-direction: row;
      }
      @media(min-width: 1024px) {
        padding-right: 20px;
      }

      &--input-text {

      }
    }
    &--error {

      &--label-red {
        margin-left: 20px;
        color: red;
      }
    }
    &--select-model {
      margin-top: 10px;
      display: block;

      @media(min-width: 300px) {
        display: flex;
        flex-direction: column;
      }
      @media(min-width: 1024px) {
        padding-right: 20px;
      }

      select {
        width: 100%;

        @media(min-width: 768px) {
          width: 80%;
        }
      }
    }
    &--buttons {
      margin-top: 10px;
      display: block;

      @media(min-width: 300px) {
        display: flex;
        flex-direction: column;
      }
      @media(min-width: 1024px) {
        padding-right: 20px;
      }
    }
    &--calibration {
      margin-top: 10px;
      display: block;

      @media(min-width: 300px) {
        display: flex;
        flex-direction: column;
      }
      @media(min-width: 1024px) {
        padding-right: 20px;
      }
      hr {
        border-top: 1px solid #0091a8;
        width: 100%;
      }
      &--select-talla {

      }
      &--input-text {

      }
      &--input-number {

      }
    }
  }

  &__header-right {
    display: block;
    width: 100%;

    @media(min-width: 300px) {
      display: flex;
      flex-direction: column;
    }
    @media(min-width: 1024px) {
      display: flex;
      width: 40%;
      transform: translateY(-70px);
    }

    &--title {
      display: none;
      font-size: 20px;
      color: white;
      background-color: #83a8bc;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;

      @media(min-width: 1024px) {
        display: flex;
      }
    }
    &--image {
      padding-bottom: 10px;
      img {
        width: 100%;
      }
    }
    &--file {
      hr {
        border-top: 1px solid #0091a8;
        width: 100%;
      }
    }
  }

  &__title {
    font-size: 17px;

    @media(min-width: 768px) {
      font-size: 25px;
    }

    &--green {
      color: #0091a8;
    }
  }
  &__text {
    font-size: 12px;
    color: black;
    padding-top: 10px;

    @media(min-width: 768px) {
      font-size: 15px;
    }

    &--green {
      color: #0091a8;
      padding-top: 10px;
      a {
        color: #0091a8;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  &__button-upload {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: #0091a8;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 100%;

    @media(min-width: 300px) {
      margin-left: 10px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      width: auto;
    }
  }
  &__button-video {
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #83a8bc;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    width: 100%;

    @media(min-width: 300px) {
      margin-left: 10px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 10px;
      width: auto;
    }
  }
  &__button-picture {
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #d68977;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    width: 100%;

    @media(min-width: 300px) {
      margin-left: 10px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 10px;
      width: auto;
    }
  }
  &__button-cancel {
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #b54b64;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    width: 100%;

    @media(min-width: 300px) {
      margin-left: 10px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 10px;
      width: auto;
    }
  }
  &__button-calibration {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: #0091a8;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 100%;

    @media(min-width: 300px) {
      margin-left: 10px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      width: auto;
    }
  }
  &__col {
    display: block;

    @media(min-width: 300px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__col-67 {
    display: block;

    @media(min-width: 300px) {
      display: flex;
      flex-direction: column;
      width: 67%;
    }
  }
  &__col-50 {
    display: block;

    @media(min-width: 300px) {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding-right: 10px;
    }
  }
  &__col-33 {
    display: block;

    @media(min-width: 300px) {
      display: flex;
      flex-direction: column;
      width: 33%;
    }
  }
  &__row {
    display: block;

    @media(min-width: 300px) {
      display: flex;
      flex-direction: row;
    }
  }
}
