.app {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  min-width: 200px;

  @media(min-width: 768px) {

  }

  &__footer {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: #9f9994;
    padding: 20px;

    @media(min-width: 300px) {
      display: flex;
      flex-direction: row;
    }
    p {
      text-align: center;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}
